<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head'); %>
</head>
<body>
    <form action="/operation" method="POST" id="form" >
        <div class="input-group mb-3"> <input type="text" name="description"  id="description" placeholder="Descripcion del gasto"></div>
        <div class="input-group mb-3"> <input type="number" name="amount" id="amount" placeholder="monto"></div>
        <select name="types" >
        
            <% for (let i = 0; i < types.length; i++) { %> 
        <option value="<%= types[i].id %>"> <%= types[i].name %> </option>
        
        <%} %></select>
        <input type="date" name="date" id="date" >
        
        
        <button type="submit" class="btn btn-secondary">Cargar gastos</button>
    </form>
    
</body>
</html>