<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head'); %>
</head>
<body>
    <form action="/operation/edit/<%=operation.id%>" method="POST">

        <div class="input-group mb-3"> <input type="text" name="descriptionEdit"  id="descriptionEdit" value="<%=operation.description%>"></div>
        <div class="input-group mb-3"> <input type="number" name="amountEdit" id="amountEdit" value="<%=operation.amount%>"></div>
        <input type="date" name="dateEdit" id="dateEdit" >

        <BUTton type="submit">Editar gasto</BUTton>
    </form>
</body>
</html>