<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head'); %>
</head>
<body>
    <form action="/login" method="POST">       
        <input type="email" name="email" placeholder="ingresar con eamail">
        <input type="password" name="password" id="password" placeholder="ingresa la ocntrase;a">
        <button type="submit">Ingresar</button>

    </form>
 
</body>
</html>