<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head'); %>
</head>
<body>
    <form action="/users/register" method="POST" id="register" >
    
    <input type="text" name="name" id="name" placeholder="Ingresa nombre completo">
    <input type="email" name="email" id="email" placeholder="Correo electronico">
    <input type="password" name="password" id="password" placeholder="Ingresa una contrasenia">
    <button type="submit">Registrarse</button>
    
    </form>
</body>
</html>